# This file defines the owners for the files and directories in your repository.
# See https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners for more information.

# Define the owners for the files and directories in your repository.
# Syntax: <glob pattern>  <owner>

*    @robmeijerink
